{{template "base" .}}

{{define "title"}}Help - dAVEBOx{{end}}

{{define "content"}}
<div class="page-header">
    <h1>{{if .DocTitle}}{{.DocTitle}}{{else}}Help{{end}}</h1>
</div>

{{if .DocHTML}}
<p><a href="/help">&larr; All topics</a></p>
<article class="help-doc">
    {{.DocHTML}}
</article>
{{else if .Docs}}
<ul class="help-topics">
    {{range .Docs}}
    <li><a href="/help?doc={{.Name}}">{{.Title}}</a></li>
    {{end}}
</ul>
{{else}}
<p>Documentation is coming. This page will hold the dAVEBOx manual.</p>
{{end}}
{{end}}
